$primary: #977ef5;
$black: #000;
$white: #FFF;
$gray: #bdc3c8;
$dark-gray: #716b6b;
$desktop-container-w: calc(100% - (48px * 2));

:root {
    --primary: #{$primary};
    --black: #{$black};
    --white: #{$white};
    --gray: #{$gray};
    --dark-gray: #{$dark-gray};
    --desktop-container-w: #{$desktop-container-w};
}