.containerUpdateStory {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    .titleUpdateStory {
        font-size: 1.8rem;
        padding-bottom: 10px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

    .formContainer {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .formFields {
        flex: 2;
        label {
            display: block;
            margin-bottom: 15px;

            span {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                color: #555;
            }

            input[type="text"],
            textarea,
            select {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 1rem;

                &:focus {
                    border-color: #007bff;
                    outline: none;
                    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
                }
            }

            textarea {
                resize: vertical;
                min-height: 80px;
            }
        }

        .radioGroup,
        .checkboxGroup {
            display: flex;
            gap: 15px;

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .genreList {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .genreItem {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #ffffff;
                background-color: #616161;
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 5px;
                .removeGenre {
                    font-size: 1.5rem;
                    color: #fc0404;
                    border: none;
                    cursor: pointer;
                }
            }
        }

        .buttonGroup {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
    }

    .imageContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;

        .imageUpdateStory {
            width: 180px;
            height: 246px;
            object-fit: cover;
            background-color: #ffffff;
            border-radius: 10px;
            border: 1px solid rgb(214, 212, 212);
            box-shadow: 0 4px 8px rgba(178, 178, 178, 0.2);
            cursor: pointer;
        }
    }
}
