.modalApproveStory {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    font-weight: 400;
    z-index: 2000;
    line-height: 1.6; 
    .modalHeaderStoryDetail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .closeButton {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
        }
        .customHeader {
            font-size: 18px;
            font-weight: 500;
            color: #333;
        }
    }

    .storyDetails {
        .infoTop {
            display: flex;
            gap: 10px;
            .storyImage {
                width: 150px;
                height: 195px;
                margin-bottom: 10px;
                border-radius: 10px;
            }

            .approveStoryInfo {
                flex: 1;
                display: flex;
                flex-direction: column;

                .customstotyTitle {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.8;
                }

                .customspan {
                    padding-top: 5px;
                }
            }
        }
    }
    .actionSpanApproveStory {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        .customSpanApproveStory {
            color: #f8ad6c;
            border: 1px solid #f8ad6c;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
    .storyNote {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .storyDescription {
        margin-top: 20px;
    }

    .modalFooterStoryDetail {
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        .btnPrimary {
            background-color: rgb(89, 89, 215);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 7px 14px;
            cursor: pointer;

            &:hover {
                background-color: rgb(42, 42, 210);
            }
        }
        .btnDanger {
            border-radius: 5px;
            background-color: rgb(246, 66, 66);
            color: white;
            border: none;
            padding: 7px 14px;
            cursor: pointer;

            &:hover {
                background-color: rgb(237, 22, 22);
            }
        }
    }
}
