.containerStoryModeration {
    padding: 0px 30px 10px;
    font-family: Arial, sans-serif;

    .titleStoryModeration {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .customHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        .btnPrimary {
            background-color: rgb(89, 89, 215);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 7px 14px;
            cursor: pointer;

            &:hover {
                background-color: rgb(42, 42, 210);
            }
        }

        .searchStoryModeration {
            border: 1px solid #ccc; // Đường viền
            border-radius: 20px; // Bo tròn góc
            padding: 5px; // Khoảng cách bên trong
            max-width: 400px; // Chiều rộng tối đa
            margin: auto; // Căn giữa
            margin-bottom: 10px;

            .searchInputStoryModeration {
                width: 300px !important;
                border: none; // Không có đường viền
                outline: none; // Không có viền khi chọn
                flex: 1; // Chiếm toàn bộ không gian
                padding: 0px 5px; // Khoảng cách bên trong
                border-radius: 10px; // Bo tròn góc
            }
        }
    }

    .tableStoryModeration {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border: none; // Removed border
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f4f4f4;
        }
        .actionStoryIcons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .editStoryIcon {
                font-size: 20px;
                color: rgb(93, 129, 196);
                cursor: pointer;
            }
            .deleteStoryIcon {
                font-size: 20px;
                color: rgb(250, 8, 8);
                cursor: pointer;
            }
        }
    }
    .storyModerationPagination {
        padding: 10px 0px;
        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            padding: 0;
        }
        .pageItem {
            margin: 0 5px;
        }
        .pageLink {
            text-decoration: none;
            color: #000; // Màu sắc mặc định cho các trang
        }
        // Định dạng cho trang đang được chọn
        .active .pageLink {
            font-weight: bold; // Làm đậm số trang
            color: #007bff; // Thay đổi màu sắc nếu cần
        }
    }
}
